
* {
    line-height: 1.6;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.69;
    text-decoration: none;
  }
  
  @mixin btn{
    padding: 5px;
    border: 1px solid black;
    font-family: $textFont;
    border-radius: 5%;
    font-size: large;
  }
  $bgColor: #ffe5ec;
  $tituloFont: serif;
  $textFont: system-ui; 

  @import"./partials/index";
  @import"./partials/cursos";
  @import"./partials/insumosFaciales";
  @import"./partials/footer";
