//cursos

.container-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    .product{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .curso-img {
        max-width: 80%;
        padding: 1rem;
      }

        .curso-content {
                p{
                  text-transform: uppercase;
                  font-family: $textFont;
                  font-size: medium;
                }
                .container-btn {
                  padding: 2px;
                  margin: 2px;
                }
             }
        }
  }     

  @media (min-width: 780px){
    .container-cursos{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }