//faciales
.container-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
      .product {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
        padding: 5%;

      h4 {
        text-transform: uppercase ;
        font-size: larger;
        font-family: $textFont;
      }
      input {
        width: 60%;
        margin: auto;
        @include btn;
      }
          }
  }

  .insumos-bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
      display: flex;
      max-width: 100%;
      height: fit-content;
      opacity: 0.69;
     }

  }
  
  .insumos{
    background-color: $bgColor;
    text-align: center;
    padding: 30px;
    &-title {
      font-family: $tituloFont;
      font-size: x-large;
      text-align: center;
      text-transform: uppercase;
    &-txt {
      font-family: $textFont;
      font-size: medium;
      }
    }
  }

  @media (min-width: 780px){
    .insumos-bg{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container-img {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      margin: 0 40px;
    }
  
  }
